*.log

.env
.env.backup
.env.production

.DS_Store
Thumbs.db

.idea
.vscode
.fleet
.nova
.zed

.phpunit.result.cache
.phpunit.cache
.phpactor.json

/vendor
auth.json

/node_modules

/public/build
/public/hot

/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/pail

/public/storage

docker-compose.override.yml

/.docker

Homestead.json
Homestead.yaml
